In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("spacex_launch_dash.csv")
df.head()

,Unnamed: 0,Flight Number,Launch Site,Mission Outcome,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,Success,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,Success,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,Success,0,677.0,F9 v1.0 B0007,v1.0

In [11]:
df.drop(axis=1, columns=["Unnamed: 0"], inplace=True)
df.head()

,Flight Number,Launch Site,Mission Outcome,class,Payload Mass (kg),Booster Version,Booster Version Category
0,1,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0003,v1.0
1,2,CCAFS LC-40,Success,0,0.0,F9 v1.0 B0004,v1.0
2,3,CCAFS LC-40,Success,0,525.0,F9 v1.0 B0005,v1.0
3,4,CCAFS LC-40,Success,0,500.0,F9 v1.0 B0006,v1.0
4,5,CCAFS LC-40,Success,0,677.0,F9 v1.0 B0007,v1.0

In [36]:
df.groupby(["Launch Site"]).sum()

              Flight Number  class  Payload Mass (kg)
Launch Site
CCAFS LC-40             379      7           67363.00
CCAFS SLC-40            351      3           24616.65
KSC LC-39A              490     10           56894.65
VAFB SLC-4E             376      4           58138.00

In [38]:
df.groupby(["Launch Site"])[["Launch Site", "class"]].sum().T

Launch Site  CCAFS LC-40  CCAFS SLC-40  KSC LC-39A  VAFB SLC-4E
class                  7             3          10            4